<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 <connectionStrings>
    <add name="constr" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=iEgypt;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
